<h2>Edit <%= singular_name.titleize %></h2>

<%= admin_render_form %>

<%- if admin_actions? :show, :index -%>
<p>
<%- if admin_action? :show -%>
  <%%= link_to "Show", [:admin, @<%= singular_name %>] %> |
<%- end -%>
<%- if admin_action? :index -%>
  <%%= link_to "View All", admin_<%= plural_name %>_path %>
<%- end -%>
</p>
<%- end -%>
